.LikesList__Wrapper{
    background-color: var(--color-white);
    position: fixed;
    top: var(--toolbar-height);
    left: 100%;
    transform: translateX(calc(-100% - 1rem));
    padding: 1rem 2rem;
    padding-right: 3rem;
    border-top: none;
    border-radius: 0 0 .3rem .3rem;
    box-shadow: .2rem 1rem 1rem rgba(0,0,0,0.2);
    max-height: 36rem;
    width: 33rem; /* We Have to consider horizontal padding */
    overflow-y:auto;

    display: none;
}

.LikesList__Wrapper--Visibility{
    display: initial;
    animation: moveInLikeListFromBottom .3s linear forwards;
}

.LikesList__Wrapper span{
    font-size: var(--Default-Font-Size-1);
}

.LikesList{
    display: grid;
    width: 28rem;
    row-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.LikesList__Wrapper .LikesList__Title-Wrapper{
    display: flex;
    align-items: center;
}

/**************** LikesList Close Btn *****************/
/*Question about Scroll*/
.LikesList__Close{
    position: absolute;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    left: 100%;
    transform: translateX(calc(-100% - 2rem));
    transition: transform .3s;
}

.LikesList__Close:hover {
    transform: translateX(calc(-100% - 2rem)) rotate(90deg);
  }

.LikesList__Close::before, .LikesList__Close::after{
    position: absolute;
    content: '';
    height: 25px;
    width: 2px;
    background-color: #000000;
}

.LikesList__Close:before{
    transform: rotate(45deg);
}

.LikesList__Close:after {
    transform: rotate(-45deg);
  }


  @keyframes moveInLikeListFromBottom{
	0% {
		opacity: 0;
		transform: translateX(calc(-100% - 1rem)) translateY(3rem);
	}

	80%{
		transform: translateX(calc(-100% - 1rem)) translateY(1rem);
	}

	100% {
		opacity: 1;
		transform: translateX(calc(-100% - 1rem)) translate(0);
	}
}


.LikesList__Empty_Title{
    font-size: var(--Default-Font-Size);
    font-weight: 500;
    text-align: center;
}