.Button {
    width: var(--buton-component-width);
    height: var(--buton-component-height);
}

.Button a{
    border-radius: .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: .1rem solid var(--color-black);
    background-color: var(--buton-component-background-color);
    color: var(--buton-component-color);
}