/*************Main Styles****************/
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-grey: #e7eaee;
    --color-light-grey-1: #eff3f3;
    --color-grey: #686d73;
    --color-dark-grey: #181518;
    --color-star-yellow: #fdb940;

    /*Header Height*/
    --toolbar-height: 12rem;
   }

/*************Button Component****************/
:root {
    --buton-component-height: 4rem;
    --buton-component-width: 14rem;
    --buton-component-background-color: var(--color-white);
    --buton-component-color: currentColor;
}

/*************Stars Component****************/
:root {
    /*Stars Component Star Margin Right*/
    --Stars_Component__Margin-Right: .2rem;
}

/*************Card Component****************/
:root {
    /*Card Wrapper Max Width*/
    --Card_Wrapper__Max-Width: 33rem;

    /*Card Wrapper Row Gap*/
    --Card_Wrapper__Row-Gap: 2rem;

    /*Card Wrapper Padding*/
    --Card_Wrapper__Padding: 2.4rem 2rem;

    /*Card Wrapper Border*/
    --Card_Wrapper__Border: .2rem solid var(--color-black);

    /*Card Wrapper Border Radius*/
    --Card_Wrapper__Border-Radius: .4rem;

    /*Card User Img Size(x and y)*/
    --Card_User__Img-Size: 6rem;

    /*Card User Img Border Radius*/
    --Card_User__Img-Border-Radius: 50%;

    /*Card User Img Margin Right*/
    --Card_User__Img-Margin-Right: 1rem;

    /*Card User Stars Margin Top*/
    --Card_User__Img-Margin-Top: -1rem;

    /*Card User Star Size*/
    --Card_User__Star-Size: 1.4rem;
}

/*************Toolbar Section****************/
:root {
    /*Toolbar size*/
    --toolbar-width: 100%;
    --toolbar-height: 8rem;

    /*Toolbar background color*/
    --toolbar-background-color: var(--color-white);

    /*Toolbar logo size*/
    --toolbar-logo-height: 4rem;

    /*************Navigation component****************/
    --toolbar-navigation-items-right-margin: 4rem;
    
    --toolbar-navigation-icons-right-margin: 2rem;

    --toolbar-navigation-icons-size: 2rem;
}

/*************Header Section****************/
:root {
    /*grid template rows of slide to put content in a place*/
    --header-section-slider-grid-rows: 12rem min-content;

    /*************Slider Component Styles****************/
        /*height of slide*/
        --slider-height: calc(100vh - 8rem);

        /*rows content template*/
        --slider-rows-content-template: max-content;

        /*dots position from top*/
        --slider-dots-top-position: calc(100% - 2.4rem);

        /*dots right margin*/
        --slider-dots-margin-right: 1rem;

        /*dots height*/
        --slider-dots-height: .7rem;

        /*dots width*/
        --slider-dots-width: 9rem;

        /*dots border radius*/
        --slider-dots-border-radius: .4rem;

        /*dots border*/
        --slider-dots-border-style: .1rem solid var(--color-white);

        /*dots animation duration*/
        --slider-dots-animation-duration: 2s;
}

 /********Customers Rating Block*********/
 :root{
    /*Customers Rating Block Padding*/
    --Customers_Rating-Block__Padding: 2rem 0;

    /*Customers Rating Block Border*/
    --Customers_Rating-Block__Border: .1rem solid var(--color-black);

    /*Customers Rating Block Border Radius*/
    --Customers_Rating-Block__Border-Radius: .4rem;

    /*Customers Rating Block Background Color*/
    --Customers_Rating-Block__Background-Color: var(--color-light-grey);

    /*Customers Rating Block Star Size*/
    --Customers_Rating-Block__Star-Size: 1.8rem;
 }
    

/*************Feedback Section****************/
:root {
    /*Feedback_Section__Content padding*/
    --Feedback_Section__Content-Padding: 1.5rem 0 4rem 0;

    /*Feedback_Section__Title h2 margins*/
    --Feedback_Section__Title-h2-Margins: 4rem 0 2rem 0;

    /*Feedback_Section__Text-box under title margin-bottom*/
    --Feedback_Section__Text-box-Margin-Bottom: 2rem;

    /*Feedback_Section__Cards columns template*/
    --Feedback_Section__Cards-Columns-Template: repeat(auto-fit, minmax(30rem, max-content));

    /*Feedback_Section__Cards/Imgs row-gap*/
    --Feedback_Section__Cards-Img-Row-Gap: 2rem;

    /*Feedback_Section__Img Imgs top margin*/
    --Feedback_Section__Img-Margin-Top: 4rem;

    /*Feedback_Section__Img Img width(companies)*/
    --Feedback_Section__Img-Width: 11rem;
}

/*************Goods Section****************/
:root {
    /*Goods Section padding top/bottom*/
    --Goods_Section__Top-Bottom-Padding: 4rem 0;

    /*Goods Section contents row gap*/
    --Goods_Section__Row-Gap: 4rem;

    /*Goods Section content columns template rule*/
    --Goods_Section__Content-Columns-Template: repeat(2, 1fr);

    /*Goods Section contents column gap*/
    --Goods_Section__Content-Column-Gap: 4rem;

    /*Goods Section content text gap*/
    --Goods_Section__Text-Gap: 2rem;

    /*Goods Section content img width*/
    --Goods_Section__Img-Width: 45rem;

    /*Goods Section content img height*/
    --Goods_Section__Img-Height: 35rem;

    /*Goods Section content img border*/
    --Goods_Section__Img-Border: .2rem solid var(--color-black);

    /*Goods Section content img border radius*/
    --Goods_Section__Img-Border-Radius: .3rem;
}

/*************Summary Section****************/
:root {
    /*Summary Section background color*/
    --Summary_Section__Background-Color: var(--color-light-grey-1);

    /*Summary Section padding top/bottom*/
    --Summary_Section__Top-Bottom-Padding: 4rem 0;

    /*Summary Section content columns template*/
    --Summary_Section__Content-Columns-Template: minmax(4rem, 26rem)[center-start] repeat(2, minmax(max-content, 1fr)) 2rem;

    /*Summary Section content text column gap*/
    --Summary_Section__Content-Text-Column-Gap: 2rem;

    /*Summary Section img border radius*/
    --Summary_Section__Img-Border-Radius: .4rem;

    /*Goods Section content img width*/
    --Summary_Section__Img-Width: 47vw;

    /*Goods Section content img height*/
    --Summary_Section__Img-Height: 30vw;
}


/*************Footer****************/
:root {
    /*Footer background color*/
    --Footer__Background-Color: var(--color-dark-grey);

    /*Footer content columns template*/
    --Footer__Content-Columns-Template: 1fr .1rem 1fr;

    /*Footer content social/nav padding*/
    --Footer__Content-Social-Nav-Padding: 8rem 0 15rem 0;

    /*Footer content social gap*/
    --Footer__Content-Social-Gap: 2rem;

    /*Footer social icons margin left*/
    --Footer__Social-Icons-Margin-Left: 1rem;

    /*Footer content social icons margin right*/
    --Footer__Content-Social-Margin-Right: 1rem;

    /*Footer content social icons size*/
    --Footer__Content-Social-Icons-Size: 2rem;

    /*Footer Input Wrapper padding*/
    --Footer__Input-Wrapper-Padding: .1rem 0;

    /*Footer Input Wrapper width*/
    --Footer__Input-Wrapper-Width: 40rem;

    /*Footer Input Field width*/
    --Footer__Input-Field-Width: 75%;

    /*Footer Input Field Padding*/
    --Footer__Input-Field-Padding: 1.3rem 0 1.3rem 1rem;

    /*Footer Input Button Background Color*/
    --Footer__Input-Button-Background-Color: var(--color-black);

    /*Footer Input Button Width*/
    --Footer__Input-Button-Width: 20%;
    
    /*Footer Input Button Padding*/
    --Footer__Input-Button-Padding: .8rem 0;

    /*Footer Input button svg arrow Size*/
    --Footer__Input-Button-Svg-Arrow-Size: 1.9rem;

    /*************** Right Side *****************/
    /*Footer nav menu links margin top*/
    --Footer__Nav-Menu-Links-margin-Top: 1.4rem;

    /*************** Bottom Side *****************/
    /*Footer bottom padding*/
    --Footer__Bottom-Padding: 1.5rem;

    /*Footer bottom columns template*/
    --Footer__Bottom-Columns-Template: minmax(4rem, 8rem) 1fr;
}