/*////////////////////////////////////////////////////*/
/*Contact/Shipping Form*/
.CheckoutMain__content{
    margin-top: 2rem;
}

.CheckoutMain__shippingAddress{
    
}

.CheckoutMain__shippingAddress_header{
    font-size: var(--Heading-Font-Size-7);
    font-weight: 400;
}