/*////////////////////////////////////////////////////*/
/*Contact/Shipping Form*/
.CheckoutMain__content{
    margin-top: 2rem;
}

.CheckoutMain__shippingAddress{
    
}

.CheckoutMain__shippingAddress_header{
    font-size: var(--Heading-Font-Size-7);
    font-weight: 400;
}

.CheckoutMain__shippingAddress_form{
    margin-top: 2rem;
    display: grid;
    row-gap: 1rem;   
}

.CheckoutMain__shippingAddress_form > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, calc((100% / 2) - (1rem / 2)));
    column-gap: 1rem;
}

.CheckoutMain__shippingAddress_form 
.CheckoutMain__shippingAddress_form__btns_wrapper{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CheckoutMain__shippingAddress_form__btns_wrapper > span{
    display: flex;
    align-items: center;
    font-size: var(--Default-Font-Size-1);
    cursor: pointer;
    color: var(--color-light-grey-4);
}

.CheckoutMain__shippingAddress_form__btns_wrapper > span:hover svg{
    transform: translateX(-.3rem);
}

.CheckoutMain__shippingAddress_form__btns_wrapper > span svg{
    margin-right: .5rem;
    height: 2.2rem;
    fill: currentColor;
    transition: transform .1s linear;
}
