.Slider {
    overflow: hidden;
}

/*Dots styling*/
#Dots__Wrapper{
    /*to position dots from top*/
    top: calc(100% - 2.4rem);
    animation: moveInBottom .4s linear forwards;
}

#Dots__List li {
    /*dots right margin*/
    margin-right: 1rem;
    overflow: hidden;
    height: .7rem;
    width: 9rem;
    border: .1rem solid var(--color-black);
    border-radius: 4rem;
}

#Dots__List button::before{
    height: .7rem;
    width: 9rem;
}

#Dots__List .slick-active button::after {
    animation: dots-background-filling 2s cubic-bezier(0, 0, 0.76, 0.77) forwards;
}

#Dots__List li button::after {
    content: '';
    /*to position background of the dots to the left*/
    position: absolute;
    transform: translateX(-10rem) translateY(.2rem);
    top: 0;
    left: 0;
    background-color: var(--color-black);
    height: .7rem;
    width: 9rem;
}