.Slider {
    overflow: hidden;
}

.Slider .Slide {
    /*height of slide*/
    height: var(--slider-height);
    /*img styling*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/*Dots styling*/
#Dots__Wrapper{
    /*to position dots from top*/
    top: var(--slider-dots-top-position);
}

#Dots__List li {
    /*dots right margin*/
    margin-right: var(--slider-dots-margin-right);
    overflow: hidden;
    height: var(--slider-dots-height);
    width: var(--slider-dots-width);
    border: var(--slider-dots-border-style);
    cursor: initial;
    border-radius: var(--slider-dots-border-radius);
}

#Dots__List button::before{
    height: var(--slider-dots-height);
    width: var(--slider-dots-width);
}

#Dots__List .slick-active button::after {
    animation: dots-background-filling var(--slider-dots-animation-duration) cubic-bezier(0, 0, 0.76, 0.77) forwards;
}

#Dots__List li button::after {
    content: '';
    /*to position background of the dots to the left*/
    position: absolute;
    transform: translateX(-10rem) translateY(.2rem);
    top: 0;
    left: 0;
    background-color: var(--color-black);
    height: var(--slider-dots-height);
    width: var(--slider-dots-width);
}