.Slider {
    overflow: hidden;
}

/*Dots styling*/
#Dots__Wrapper{
    /*to position dots from top*/
    top: var(--Slider-Dots__Top-Position);
    animation: moveInBottom .4s linear forwards;
}

#Dots__List li {
    /*dots right margin*/
    margin-right: var(--Slider-Dots__Margin-Right);
    overflow: hidden;
    height: var(--Slider-Dots__Height);
    width: var(--Slider-Dots__Width);
    border: var(--Slider-Dots__Border-Style);
    border-radius: var(--Slider-Dots__Border-Radius);
}

#Dots__List button::before{
    height: var(--Slider-Dots__Height);
    width: var(--Slider-Dots__Width);
}

#Dots__List .slick-active button::after {
    animation: dots-background-filling var(--Slider-Dots__Animation-Duration) cubic-bezier(0, 0, 0.76, 0.77) forwards;
}

#Dots__List li button::after {
    content: '';
    /*to position background of the dots to the left*/
    position: absolute;
    transform: translateX(-10rem) translateY(.2rem);
    top: 0;
    left: 0;
    background-color: var(--color-black);
    height: var(--Slider-Dots__Height);
    width: var(--Slider-Dots__Width);
}