/*************Main Styles****************/
:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-grey: #e7eaee;
    --color-light-grey-1: #eff3f3;
    --color-grey: #686d73;
    --color-dark-grey: #181518;
    --color-star-yellow: #fdb940;
   }