/*************Toolbar Section****************/
:root {
    /*Toolbar size*/
    --toolbar-width: 100%;
    --toolbar-height: 8rem;

    /*Toolbar background color*/
    --toolbar-background-color: var(--color-white);

    /*Toolbar logo size*/
    --toolbar-logo-height: 4rem;

    /*************Navigation component****************/
    --toolbar-navigation-items-right-margin: 4rem;
    
    --toolbar-navigation-icons-right-margin: 2rem;

    --toolbar-navigation-icons-size: 2rem;
}

/*************Footer****************/
:root {
    /*Footer background color*/
    --Footer__Background-Color: var(--color-dark-grey);

    /*Footer content columns template*/
    --Footer__Content-Columns-Template: 1fr .1rem 1fr;

    /*Footer content social/nav padding*/
    --Footer__Content-Social-Nav-Padding: 8rem 6.4rem 15rem 0;

    /*Footer content social gap*/
    --Footer__Content-Social-Gap: 2rem;

    /*Footer social icons margin left*/
    --Footer__Social-Icons-Margin-Left: 1rem;

    /*Footer content social icons margin right*/
    --Footer__Content-Social-Margin-Right: 1rem;

    /*Footer content social icons size*/
    --Footer__Content-Social-Icons-Size: 2rem;

    /*Footer Input Wrapper padding*/
    --Footer__Input-Wrapper-Padding: .1rem 0;

    /*Footer Input Wrapper width*/
    --Footer__Input-Wrapper-Width: 40rem;

    /*Footer Input Field width*/
    --Footer__Input-Field-Width: 75%;

    /*Footer Input Field Padding*/
    --Footer__Input-Field-Padding: 1.3rem 0 1.3rem 1rem;

    /*Footer Input Button Background Color*/
    --Footer__Input-Button-Background-Color: var(--color-black);

    /*Footer Input Button Width*/
    --Footer__Input-Button-Width: 20%;
    
    /*Footer Input Button Padding*/
    --Footer__Input-Button-Padding: .8rem 0;

    /*Footer Input button svg arrow Size*/
    --Footer__Input-Button-Svg-Arrow-Size: 1.9rem;

    /*************** Right Side *****************/
    /*Footer nav menu links margin top*/
    --Footer__Nav-Menu-Links-margin-Top: 1.4rem;

    /*************** Bottom Side *****************/
    /*Footer bottom padding*/
    --Footer__Bottom-Padding: 1.5rem;

    /*Footer bottom columns template*/
    --Footer__Bottom-Columns-Template: minmax(2rem, 8rem) minmax(max-content, 1fr) minmax(2rem, 8rem);
}