/*************Toolbar Section****************/
:root {
    /*Toolbar size*/
    --toolbar-width: 100%;
    --toolbar-height: 8rem;

    /*Toolbar background color*/
    --toolbar-background-color: var(--color-white);

    /*Toolbar logo size*/
    --toolbar-logo-height: 4rem;

    /*************Navigation component****************/
    --toolbar-navigation-items-right-margin: 4rem;
    
    --toolbar-navigation-icons-right-margin: 2rem;

    --toolbar-navigation-icons-size: 2rem;
}