/* Font-Sizes */
:root{
    --Under-Head-Font-size: 1.8rem;

    --Default-Font-Size: 1.6rem;

    --Default-Font-Size-1: 1.4rem;

    --Default-Font-Size-2: 1.2rem;

    --Default-Font-Size-3: 1rem;

    --Heading-Font-Size-1: 6rem;

    --Heading-Font-Size-2: 5.4rem;

    --Heading-Font-Size-3: 3.6rem;

    --Heading-Font-Size-4: 2.8rem;

    --Heading-Font-Size-5: 2.4rem;

    --Heading-Font-Size-6: 2.2rem;

    --Heading-Font-Size-7: 2rem;
}