.Toolbar  {
    width: var(--toolbar-width);
    height: var(--toolbar-height);
    background-color: var(--toolbar-background-color);
    /*put items and logo into center*/
    align-items: center;
}

.Toolbar .Logo {
    height: var(--toolbar-logo-height);
}

.Navigation_Wrapper {
    display: grid;
}

.Navigation_Wrapper, .Toolbar .Logo {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}
