:root{
    --toolbar-height: 8rem;
}

.Toolbar  {
    width: 100%;
    height: var(--toolbar-height);
    background-color: var(--color-white);
    /*put items and logo into center*/
    top: 0;
    z-index: 10;
    align-items: center;
    position: fixed;
    border-bottom: .1rem solid var(--color-black);
}

.Toolbar .Logo {
    height: 4rem;
    justify-self: flex-start;
}

.Navigation_Wrapper {
    display: grid;
}

.Navigation_Wrapper, .Toolbar .Logo {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}
