.Slider .Header-Section__Slide {
    /*height of slide*/
    height: calc(100vh - 8rem);
    grid-template-rows: 12rem min-content;
    position: relative;
}

.Slider .Header-Section__Slide::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.Header-Section__Slide__Img{
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    overflow: hidden;
}

.Header-Section__Slide__Img img{
    width: 100vw;
    height: 100vh; /* Why % doesn't work? */
    object-fit: cover;
    object-position: bottom;
}

.Header-Section__Slide_3{
    background-color: #E0DFE7; /*Should remove*/
}

.Header-Section__Slide_3 img{
    object-fit: contain;
}

.Slider .Header-Section__Slide__Content{
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    display: grid;
    justify-content: start;
    row-gap: .4rem;
    grid-template-rows: repeat(3, max-content);
    animation: moveInBottom .4s linear forwards;
}

.Slider .Header-Section__Slide__Content span{
}

.Slider .Header-Section__Slide__Content h3 {
    
}

.Slider .Header-Section__Slide__Content .Button {
    /*top transform of button in slider content*/
    transform: translateY(2.4rem);
    justify-self: start;
}

