.Slider .Header-Section__Slide {
    /*height of slide*/
    height: var(--Header-Section__Slider-Height);
    grid-template-rows: var(--Header-Section__Slider-Grid-Rows);
}

.Header-Section__Slide__Img{
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    overflow: hidden;
}

.Header-Section__Slide__Img img{
    width: 100vw;
    height: 100vh; /* Why % doesn't work? */
    object-fit: cover;
    object-position: bottom;
}

.Header-Section__Slide_3{
    background-color: #E0DFE7; /*Should remove*/
}

.Header-Section__Slide_3 img{
    object-fit: contain;
}

.Slider .Header-Section__Slide__Content{
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    display: grid;
    justify-content: start;
    row-gap: var(--Header-Section__Slide__Content-Row-Gap);
    grid-template-rows: repeat(3, max-content);
    animation: moveInBottom .4s linear forwards;
}

.Slider .Header-Section__Slide__Content span{
}

.Slider .Header-Section__Slide__Content h3 {
    
}

.Slider .Header-Section__Slide__Content .Button {
    /*top transform of button in slider content*/
    transform: translateY(var(--Header-Section__Slide__Content__Button-TranslateY));
}

