/*************Header Section****************/
:root {
    /*grid template rows of slide to put content in a place*/
    --Header-Section__Slider-Grid-Rows: 12rem min-content;
    
    /*height of slide*/
    --Header-Section__Slider-Height: calc(100vh - 8rem);

    /* Content Row Gap */
    --Header-Section__Slide__Content-Row-Gap: .4rem;

    /* Content Button TranslationY */
    --Header-Section__Slide__Content__Button-TranslateY: 2.4rem;
}

/********Customers Rating Block*********/
:root{
    /*Customers Rating Block Padding*/
    --Customers_Rating-Block__Padding: 2rem 0;

    /*Customers Rating Block Border*/
    --Customers_Rating-Block__Border: .1rem solid var(--color-black);

    /*Customers Rating Block Border Radius*/
    --Customers_Rating-Block__Border-Radius: .4rem;

    /*Customers Rating Block Background Color*/
    --Customers_Rating-Block__Background-Color: var(--color-light-grey);

    /*Customers Rating Block Star Size*/
    --Customers_Rating-Block__Star-Size: 1.8rem;
 }

 /*************Feedback Section****************/
:root {
    /*Feedback_Section__Content padding*/
    --Feedback_Section__Content-Padding: 1.5rem 0 4rem 0;

    /*Feedback_Section__Title h2 margins*/
    --Feedback_Section__Title-h2-Margins: 4rem 0 2rem 0;

    /*Feedback_Section__UnderHead under title margin-bottom*/
    --Feedback_Section__UnderHead-Margin-Bottom: 2rem;

    /*Feedback_Section__Cards columns template*/
    --Feedback_Section__Cards-Columns-Template: repeat(auto-fit, minmax(30rem, max-content));

    /*Feedback_Section__Cards/Imgs row-gap*/
    --Feedback_Section__Cards-Img-Row-Gap: 2rem;

    /*Feedback_Section__Img Imgs top margin*/
    --Feedback_Section__Img-Margin-Top: 4rem;

    /*Feedback_Section__Img Img width(companies)*/
    --Feedback_Section__Img-Width: 11rem;
}

/*************Goods Section****************/
:root {
    /*Goods Section padding top/bottom*/
    --Goods_Section__Top-Bottom-Padding: 4rem 0;

    /*Goods Section contents row gap*/
    --Goods_Section__Row-Gap: 4rem;

    /*Goods Section content columns template rule*/
    --Goods_Section__Content-Columns-Template: repeat(2, 1fr);

    /*Goods Section contents column gap*/
    --Goods_Section__Content-Column-Gap: 4rem;

    /*Goods Section content text gap*/
    --Goods_Section__Text-Gap: 2rem;

    /*Goods Section content img width*/
    --Goods_Section__Img-Width: 45rem;

    /*Goods Section content img height*/
    --Goods_Section__Img-Height: 35rem;

    /*Goods Section content img border*/
    --Goods_Section__Img-Border: .2rem solid var(--color-black);

    /*Goods Section content img border radius*/
    --Goods_Section__Img-Border-Radius: .3rem;
}

/*************Summary Section****************/
:root {
    /*Summary Section background color*/
    --Summary_Section__Background-Color: var(--color-light-grey-1);

    /*Summary Section padding top/bottom*/
    --Summary_Section__Top-Bottom-Padding: 4rem 0;

    /*Summary Section content columns template*/
    --Summary_Section__Content-Columns-Template: minmax(4rem, 26rem)[center-start] repeat(2, minmax(max-content, 1fr)) 2rem;

    /*Summary Section content text column gap*/
    --Summary_Section__Content-Text-Column-Gap: 2rem;

    /*Summary Section img border radius*/
    --Summary_Section__Img-Border-Radius: .4rem;

    /*Goods Section content img width*/
    --Summary_Section__Img-Width: 47vw;

    /*Goods Section content img height*/
    --Summary_Section__Img-Height: 30vw;
}
