:root {
    /*Products Top Img Width*/
    --Products-Top-Img-Width: 100%;

    /*Products Top Img Height*/
    --Products-Top-Img-Height: 40rem;
    
    /*Products Content Row Gap*/
    --Products-Content-Row-Gap: 2rem;
    
    /*Products Content Padding*/
    --Products-Content-Padding: 4rem 0;

    /*Products List Column Gap*/
    --Products-List-Column-Gap: 2rem;
    
    /*Products List Row Gap*/
    --Products-List-Row-Gap: 4rem;
}

/************* Product Item Style *************/
:root {
    /*Product Item Row Gap */
    --Products-Item-Row-Gap: 1rem;
    
    /*Product Item Img Height */
    --Products-Item-Img-Height: 20rem;

    /*Product Item Button Size */
    --Products-Item-Button-Size: 4rem;

    /*Product Item Button Svg Size */
    --Products-Item-Button-Svg-Size: 2.2rem;
}