.Summary_Section{
    background-color:var(--color-light-grey-1);
    padding: 4rem 0;
}

.Summary_Section__Content{
    display: grid;
    grid-template-columns: minmax(4rem, 26rem)[center-start] repeat(2, minmax(max-content, 1fr)) 2rem;
    align-items: center;
}

.Summary_Section__Content button{
    justify-self: start;
}

.Summary_Section__Content-Text{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    row-gap: 2rem;
}

.Summary_Section__Content__Heading{

}

.Summary_Section__Content__Paragraph{

}

.Summary_Section__Content__Img{
    width: 47vw;
    height: 30vw;
    justify-self: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-radius: .4rem;
}

.Summary_Section__Content__Img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}