.Summary_Section{
    background-color: var(--Summary_Section__Background-Color);
    padding: var(--Summary_Section__Top-Bottom-Padding);
}

.Summary_Section__Content{
    display: grid;
    grid-template-columns: var(--Summary_Section__Content-Columns-Template);
    align-items: center;
}

.Summary_Section__Content .Button{
    justify-self: start;
}

.Summary_Section__Content-Text{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    row-gap: var(--Summary_Section__Content-Text-Column-Gap);
}

.Summary_Section__Content__Heading{

}

.Summary_Section__Content__Paragraph{

}

.Summary_Section__Content__Img{
    width: var(--Summary_Section__Img-Width);
    height: var(--Summary_Section__Img-Height);
    justify-self: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-radius: var(--Summary_Section__Img-Border-Radius);
}

.Summary_Section__Content__Img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}