.Button {
    
}

.Button a{
    font-size: var(--Default-Font-Size);
    border-radius: .2rem;
    display: inline-block;
    padding: 1.5rem 4rem;
    background-color: var(--color-white);
    color: currentColor;
}

.Button--Border-Black a{
    border: .1rem solid var(--color-black);
}

.Button--Black a {
    color: var(--color-white);
    background-color: var(--color-black);
}