.shoppingcart__Wrapper{
    height: 100vh;
    width: 45.1rem;
    position: fixed;
    z-index: 102;
    background-color: var(--color-white);
    top: 0;
    left: 100%;
    display: flex;
    justify-content: flex-end;

    visibility: hidden;
    transform: translateX(0);
    transition: all .4s ease-in-out;
}

.shoppingcart{
    height: 100%;
    width: 45rem;
    background-color: var(--color-white);
    border-radius: .4rem;
    border-left: 2px solid var(--color-dark-grey);

    display: grid;
    grid-template-rows: minmax(min-content, 8rem) 1fr min-content minmax(min-content, max-content) min-content;
    align-items: center;
}

.shoppingcart--Visible{
    transform: translateX(-100%);
    visibility: visible;
}

/*////////////////////////////////////////////////*/
/* HEADING STYLES*/
.shoppingcart__Heading-Wrapper{
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    display: grid;
    align-items: center;
    background-color: var(--color-white);
}

.shoppingcart__Heading-Wrapper span{
    font-size: 2.8rem;
    margin-top: -.6rem;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: start;
    cursor: pointer;
}

.shoppingcart__Heading{
    font-size: var(--Under-Head-Font-size);
    font-weight: 600;
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

/*////////////////////////////////////////////////*/
/*BUTTON STYLES*/
.shoppingcart button{
    justify-self: center;
    width: calc(100% - 4rem);

    display: flex;
    font-weight: 500;
}

.shoppingcart button a{
    width: 100%;
    margin: 0 2rem;
}

/*////////////////////////////////////////////////*/
/*SUM STYLES*/
.shoppingcart__Sum{
    box-shadow: 0 -2px 4px 0 rgb(145 158 171 / 25%);
    padding: 2rem 2rem;
}

.shoppingcart__Sum span{
    font-size: var(--Default-Font-Size-1);
}

.shoppingcart__Sum span:first-child{
    font-weight: 500;
}

/*////////////////////////////////////////////////*/
/*TAXES STYLES*/
.shoppingcart__Taxes{
    text-align: center;
    padding: 1rem;
}