/**************** ACCORDION ***************/

.Accodrion-Container label{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2rem;
    font-size: 1.4rem;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey);
    font-weight: 400;
    cursor: pointer;
}

.Accodrion-Container label span{
    font-size: 2rem;
}

.Accodrion-Container input:checked + .Accodrion-Container label:hover:after {
}

.Accodrion-Container input{
    display: none;
}

.Accodrion-Container ul{
    overflow: hidden;
    background-color: white;

    list-style:disc;
    display: grid;
    row-gap: 1rem;
    font-size: 1.2rem;

    max-height: 0;
    padding: 0;
    transition: padding .2s linear, max-height 1s cubic-bezier(0, 1, 0, 1);
}

.Accodrion-Container input:checked ~ ul {
    padding: 1rem 2rem;
    max-height: 1000px;
    transition: padding .2s linear,max-height 1s cubic-bezier(0, 1, 0, 1);
}

.Accodrion-Container ul p{
    
}