.Input_Field {
    padding: 1.2rem .8rem;
    outline: none;
    border: 2px solid var(--color-light-grey-5);
    border-radius: .6rem;
    font-size: var(--Default-Font-Size-2);
    transition: all .2s ease-out;
}

.Input_Field:focus{
    border-color: var(--color-light-grey-4);
}

.Input_FieldBlackBorder:focus{
    border-color: var(--color-black);
}

.Input_NotValid{
    border-color: var(--color-danger) !important;
}