.Site-footer{
    background-color: var(--color-black);
    color: var(--color-white);
}

.Site-footer__content{
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10rem 0;
    position: relative;
}

.Site-footer__content::after{
    content: '';
    position: absolute;
    height: 100%;
    border-right: 2px solid var(--color-white);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*Left Side*/
.Site-footer__social__content{
    display: grid;
    row-gap: 2rem;
}

.Site-footer__social__icons{
    display: flex;
    align-items: flex-end;
    margin-left: 1rem;
}

.Site-footer__social__icons svg{
    fill: currentColor;
    width: 2rem;
    height: 2rem;
}

.Site-footer__social__icons li:not(:last-child) {
    margin-right: 1rem;
}
/*************** Right Side *****************/

.Site-footer__nav{
    align-self: center;
}

.Site-footer__nav__menu{
    display: flex;
    justify-content: space-around;
}

.Site-footer__nav__menu-links li{
    margin-top: 1.4rem;
}
/*************** Bottom Side *****************/
.Site-footer__bottom{
    padding: 1.5rem;
    grid-column: Full-Start / Full-End;
    display: grid;
    grid-template-columns: minmax(2rem, 8rem) minmax(max-content, 1fr) minmax(2rem, 8rem);
    border-top: .1rem solid var(--color-white);
}

.Site-footer__bottom__copyright{
    grid-column: 2 / -1;
}