.Input_Wrapper{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    padding: .1rem 0;
    width: 40rem;
}

.Input{
    width: 75%;
    padding: 1.3rem 0 1.3rem 1rem;
    border: none;
    outline: none; 
}

.Input:focus{
    outline: 1px solid var(--color-grey);
}

.Button{
    transform: translateX(-5%);
    border: none;
    outline: none;
    background-color: var(--color-black);
    width: 20%;
    align-self: center;
    padding: .8rem 0;
    cursor: pointer;
}

.Button svg{
    width:  1.9rem;
    height:  1.9rem;
    fill: var(--color-white);
}