.Goods-Section{
    padding: var(--Goods_Section__Top-Bottom-Padding);
}

.Goods-Section__Content{
    grid-column: center-start / center-end;
    display: grid;
    row-gap: var(--Goods_Section__Row-Gap);
}

.Goods-Section__Content-First, .Goods-Section__Content-Second{
    display: grid;
    grid-template-columns: var(--Goods_Section__Content-Columns-Template);
    align-items: center;
    column-gap: var(--Goods_Section__Content-Column-Gap);
}

.Goods-Section__Content-Text{
    display: grid;
    row-gap: var(--Goods_Section__Text-Gap);
}

.Goods-Section__Content__Heading{

}

.Goods-Section__Content-Second .Goods-Section__Content-Text{
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

.Goods-Section__Content__Paragraph{

}

.Goods-Section__Content__Img{
    justify-self: end;
    width: var(--Goods_Section__Img-Width);
    height: var(--Goods_Section__Img-Height);
    background-image: url(../../../../assets/images/IndexPage/GoodsSection/good-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: var(--Goods_Section__Img-Border);
    border-radius: var(--Goods_Section__Img-Border-Radius);
}

.Goods-Section__Content-Second .Goods-Section__Content__Img{
    background-image: url(../../../../assets/images/IndexPage/GoodsSection/good-2.jpg);
    background-position: top;
    justify-self: start;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}