.Goods-Section{
    padding: 4rem 0;
}

.Goods-Section__Content{
    grid-column: center-start / center-end;
    display: grid;
    row-gap: 4rem;
}

.Goods-Section__Content .Button{
    justify-self: start;
}

.Goods-Section__Content-First, .Goods-Section__Content-Second{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.Goods-Section__Content-Text{
    display: grid;
    row-gap: 2rem;
}

.Goods-Section__Content__Heading{

}

.Goods-Section__Content-Second .Goods-Section__Content-Text{
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

.Goods-Section__Content__Paragraph{

}

.Goods-Section__Content__Img{
    justify-self: end;
    width: 45rem;
    height: 35rem;
    border: .2rem solid var(--color-black);
    border-radius: .3rem;
}

.Goods-Section__Content__Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Goods-Section__Content-Second .Goods-Section__Content__Img{
    justify-self: start;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}