.Navigation__items {
    align-self: center;
    /*to vertical centralize items and icons*/
    margin-bottom: var(--toolbar-navigation-items-margin-centralization);
}

.Navigation__icons {
    align-self: flex-end;
    /*to vertical centralize items and icons*/
    margin-top: var(--toolbar-navigation-items-margin-centralization);
}

.Navigation__items, .Navigation__icons {
    display: flex;
}

.Navigation__icons li:not(:last-child), .Navigation__items li:not(:last-child) {
    margin-right: var(--toolbar-navigation-items-right-margin);
}