.Navigation__items, .Navigation__icons {
    display: flex;
}

.Navigation__items {
    align-self: end;
    justify-self: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.Navigation__icons svg {
    width: 2rem;
    height: 2rem;
}

.Navigation__icons {
    justify-self: end;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.Navigation__icons li,
.Navigation__items li{
    cursor: pointer;
}

.Navigation__items li:not(:last-child) {
    margin-right: 4rem;
}

.Navigation__icons li:not(:last-child) {
    margin-right: 2rem;
}