.Card_Wrapper{
    max-width: 34rem;
    display: grid;
    row-gap: 2rem;
    padding: 2.4rem 2rem;
    justify-content: start;
    border: .2rem solid var(--color-black);
    border-radius: .4rem;
    background-color: var(--color-white);
}

.Card_User{
    display: flex;
    align-items: center;
    font-size: var(--Default-Font-Size-1);
}

.Card_User__Img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--color-light-grey);
    margin-right:  1rem;
    overflow: hidden;
}

.Card_User__Img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Card_Title{
    font-size: var(--Under-Head-Font-size);
}

.Card_Stars{
    margin-top:  -1rem;
}

.Card_Wrapper .Card_Stars svg{
    width: 1.4rem;
    height: 1.4rem;
}

.Card_Text{
    font-size: var(--Default-Font-Size-1);
    line-height: 2.4rem;
}