.Card_Wrapper{
    max-width: var(--Card_Wrapper__Max-Width);
    display: grid;
    row-gap: var(--Card_Wrapper__Row-Gap);
    padding: var(--Card_Wrapper__Padding);
    justify-content: start;
    border: var(--Card_Wrapper__Border);
    border-radius: var(--Card_Wrapper__Border-Radius);
}

.Card_User{
    display: flex;
    align-items: center;
    font-size: var(--Default-Font-Size-1);
}

.Card_User__Img{
    width: var(--Card_User__Img-Size);
    height: var(--Card_User__Img-Size);
    border-radius: var(--Card_User__Img-Border-Radius);
    background-color: var(--color-light-grey);
    margin-right: var(--Card_User__Img-Margin-Right);
    overflow: hidden;
}

.Card_User__Img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Card_Title{
    font-size: var(--Under-Head-Font-size);
}

.Card_Stars{
    margin-top: var(--Card_User__Img-Margin-Top);
}

.Card_Wrapper .Card_Stars svg{
    width: var(--Card_User__Star-Size);
    height: var(--Card_User__Star-Size);
}

.Card_Text{
    font-size: var(--Default-Font-Size-1);
    line-height: 2.4rem;
}