.Feedback_Section__Content{
    grid-column: center-start / center-end;
    padding: 1.5rem 0 4rem 0;
}

.Feedback_Section__Title, .Feedback_Section__UnderHead{
    text-align: center;
}

/*h2 feedback title margins*/
.Feedback_Section__Title{
    margin: 4rem 0 2rem 0;
}

/*Under title*/
.Feedback_Section__UnderHead{
    margin-bottom: 2rem;
}

.Feedback_Section__Cards{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(30rem, max-content));
    justify-content: space-between;
    row-gap:  2rem;
}

.Feedback_Section__Img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, max-content));
    row-gap:  2rem;
    margin-top: 4rem;
    justify-content: center;
}

.Feedback_Section__Img img{
    width: 11rem;
}