/*////////////////////////////////////////////////*/
/*LIST STYLES*/
.ShoppingCart__List{
    font-size: 1.6rem;
    height: 100%;
    overflow-y: auto;
    padding: 2rem 2rem 0;
    background-color: var(--color-light-grey-2);

    display: grid;
    align-content: start;
    row-gap: 2rem;
}

/*EMPTY TITLE*/
.ShoppingCart__List__Empty{
    justify-self: center;
    font-size: var(--Heading-Font-Size-6);
    font-weight: 500;
}

/*CONTINUE BTN STYLES*/
.ShoppingCart__List__Continue_Btn{
    text-align: center;
    font-size: var(--Default-Font-Size-1);
    padding-bottom: 2rem;
}

.ShoppingCart__List__Continue_Btn span{
    position: relative;
    cursor: pointer;
}

.ShoppingCart__List__Continue_Btn span:hover{
    color: var(--color-grey);
}

.ShoppingCart__List__Continue_Btn span::after{
    content: '';
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    width: 100%;
    border-top: 2px solid currentColor;
}